<% content_for :add_hotel_heading do  %>
  <h2 class="card-title text-center ">New Article</h2>
<% end %>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
